
.input input{
    padding: 10px;
    width: 40vw;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
    border: 1px solid black;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.input button{
    margin-left: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(0, 179, 0);
    color: white;
    font-size: 20px;
    border-radius: 7px;
}
#as{
    margin-top: 100px;
}

.all{
   display: block;
   margin: 20px auto;
   text-align: center;
   height: 400px;
   width: 300px;
}
.img{
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.299);
    display: block;
    margin: auto;
}
.img img{
   
    transition: 0.8s;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    
}
.db p{
    background-color:green;
    color: white;
    border-radius: 5px;
    padding-top: 3px;
    height: 30px;
    width: 75px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;   
}
.name p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.img:hover img{
    transform: scale(1.5);
    transition: 0.8s;
}
.image img{
    border: 1px solid white;
}